In [63]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [64]:
df = pd.read_csv('Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')

print(f"Dataset shape: {df.shape}")
print(f"Column names:")
print(df.columns.tolist())

Dataset shape: (110880, 33)
Column names:
['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource', 'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type', 'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ', 'Sample_Size', 'Total', 'Age(years)', 'Education', 'Sex', 'Income', 'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID', 'LocationID', 'StratificationCategory1', 'Stratification1', 'StratificationCategoryId1', 'StratificationID1']

In [65]:
display(df.head())
print(df.dtypes)

print("Missing values:")
missing = df.isnull().sum()
missing_pct = (missing / len(df) * 100).round(2)
missing_df = pd.DataFrame({'Missing Count': missing, 'Missing %': missing_pct})
print(missing_df[missing_df['Missing Count'] > 0])

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$15,000 - $24,999",INC,INC1525
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$25,000 - $34,999",INC,INC2535
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$35,000 - $49,999",INC,INC3550
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$50,000 - $74,999",INC,INC5075
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Income,"$75,000 or greater",INC,INC75PLUS

YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Datasource                     object
Class                          object
Topic                          object
Question                       object
Data_Value_Unit                object
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit          float64
High_Confidence_Limit         float64
Sample_Size                    object
Total                          object
Age(years)                     object
Education                      object
Sex                            object
Income                         object
Race/Ethnicity                 object
GeoLocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
DataValueTypeID                object
LocationID                      int64
StratificationCategory1        object
Stratification1                object
StratificationCategoryId1      object
StratificationID1              object
dtype: object
Missing values:
                            Missing Count  Missing %
Data_Value_Unit                    106260      95.83
Data_Value                          13214      11.92
Data_Value_Alt                      13214      11.92
Data_Value_Footnote_Symbol          97666      88.08
Data_Value_Footnote                 97666      88.08
Low_Confidence_Limit                13214      11.92
High_Confidence_Limit               13214      11.92
Sample_Size                         13214      11.92
Total                              106920      96.43
Age(years)                          87120      78.57
Education                           95040      85.71
Sex                                102960      92.86
Income                              83160      75.00
Race/Ethnicity                      79200      71.43
GeoLocation                          2016       1.82

In [66]:
print(f"YearStart: {df['YearStart'].min()} - {df['YearStart'].max()}")
print(f"Number of territories: {df['LocationAbbr'].nunique()}")
print(df['LocationAbbr'].unique())
print(df['Class'].value_counts())
print(df['Topic'].value_counts())
print(df['StratificationCategory1'].value_counts())

YearStart: 2011 - 2024
Number of territories: 55
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'US' 'GU' 'PR' 'VI']
Class
Physical Activity          58520
Obesity / Weight Status    43120
Fruits and Vegetables       9240
Name: count, dtype: int64
Topic
Physical Activity - Behavior        58520
Obesity / Weight Status             43120
Fruits and Vegetables - Behavior     9240
Name: count, dtype: int64
StratificationCategory1
Race/Ethnicity    31680
Income            27720
Age (years)       23760
Education         15840
Sex                7920
Total              3960
Name: count, dtype: int64

In [ ]:
df_filtered = df[(df['YearStart'] >= 2011) & (df['YearStart'] <= 2023)].copy()

print(f"Original dataset size: {len(df):,}")
print(f"Filtered dataset size (2011-2023): {len(df_filtered):,}")
print(f"Rows removed: {len(df) - len(df_filtered):,}")

print(f"Year distribution after filtering:")
print(df_filtered['YearStart'].value_counts().sort_index())

Original dataset size: 110,880
Filtered dataset size (2011-2023): 106,260
Rows removed: 4,620
Year distribution after filtering:
YearStart
2011    10780
2012     4620
2013    10780
2014     4620
2015    10780
2016     4620
2017    13860
2018     4620
2019    13860
2020     4620
2021     7700
2022     4620
2023    10780
Name: count, dtype: int64

In [68]:
columns_to_keep = [
    'YearStart',
    'LocationAbbr',
    'LocationDesc',
    'Class',
    'Topic',
    'Question',
    'Data_Value',
    'Data_Value_Alt',
    'Low_Confidence_Limit',
    'High_Confidence_Limit ',
    'Sample_Size',
    'Total',
    'Age(years)',
    'Education',
    'Sex',
    'Income',
    'Race/Ethnicity',
    'GeoLocation',
    'StratificationCategory1',
    'Stratification1'
]

existing_columns = [col for col in columns_to_keep if col in df_filtered.columns]
missing_columns = [col for col in columns_to_keep if col not in df_filtered.columns]

print(f"Columns found: {len(existing_columns)}")
print(f"Columns missing: {missing_columns}")

df_clean = df_filtered[existing_columns].copy()

df_clean = df_clean.rename(columns={
    'High_Confidence_Limit ': 'High_Confidence_Limit',
    'Age(years)': 'Age_Years',
    'Race/Ethnicity': 'Race_Ethnicity'
})

print(f"Cleaned dataset shape: {df_clean.shape}")
print(df_clean.columns.tolist())

Columns found: 20
Columns missing: []
Cleaned dataset shape: (106260, 20)
['YearStart', 'LocationAbbr', 'LocationDesc', 'Class', 'Topic', 'Question', 'Data_Value', 'Data_Value_Alt', 'Low_Confidence_Limit', 'High_Confidence_Limit', 'Sample_Size', 'Total', 'Age_Years', 'Education', 'Sex', 'Income', 'Race_Ethnicity', 'GeoLocation', 'StratificationCategory1', 'Stratification1']

In [69]:
print("Available Topics:")
for i, topic in enumerate(df_clean['Topic'].unique(), 1):
    count = len(df_clean[df_clean['Topic'] == topic])
    print(f"{i} - {topic}: {count:,} rows")
relevant_classes = ['Obesity / Weight Status', 'Physical Activity', 'Fruits and Vegetables']

df_clean = df_clean[df_clean['Class'].isin(relevant_classes)].copy()

Available Topics:
1 - Obesity / Weight Status: 40,040 rows
2 - Physical Activity - Behavior: 56,980 rows
3 - Fruits and Vegetables - Behavior: 9,240 rows

In [70]:
print("All locations:")
print(df_clean['LocationAbbr'].unique())

us_states = [
    'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
    'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD',
    'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ',
    'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC',
    'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY',
    'DC' 
]

df_clean['US_State'] = df_clean['LocationAbbr'].isin(us_states)

print(f"\nUS States: {df_clean['US_State'].sum():,} rows")
print(f"Other: {(~df_clean['US_State']).sum():,} rows")

def extract_coordinates(geolocation):
    if pd.isna(geolocation) or geolocation == '':
        return np.nan, np.nan
    try:
        coords = geolocation.strip().replace('(', '').replace(')', '').split(',')
        lat = float(coords[0].strip())
        lon = float(coords[1].strip())
        return lat, lon
    except:
        return np.nan, np.nan

df_clean[['Latitude', 'Longitude']] = df_clean['GeoLocation'].apply(
    lambda x: pd.Series(extract_coordinates(x))
)
print(df_clean[['GeoLocation', 'Latitude', 'Longitude']].head())

All locations:
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'US' 'GU' 'PR' 'VI']

US States: 98,532 rows
Other: 7,728 rows
                         GeoLocation   Latitude  Longitude
0      (32.840571122, -86.631860762)  32.840571 -86.631861
1      (32.840571122, -86.631860762)  32.840571 -86.631861
2      (32.840571122, -86.631860762)  32.840571 -86.631861
3      (32.840571122, -86.631860762)  32.840571 -86.631861
4      (32.840571122, -86.631860762)  32.840571 -86.631861

In [71]:
regions = {
    'Northeast': ['CT', 'ME', 'MA', 'NH', 'RI', 'VT', 'NJ', 'NY', 'PA'],
    'Midwest': ['IL', 'IN', 'MI', 'OH', 'WI', 'IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD'],
    'South': ['DE', 'FL', 'GA', 'MD', 'NC', 'SC', 'VA', 'DC', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA', 'OK', 'TX'],
    'West': ['AZ', 'CO', 'ID', 'MT', 'NV', 'NM', 'UT', 'WY', 'AK', 'CA', 'HI', 'OR', 'WA']
}

state_to_region = {}
for region, states in regions.items():
    for state in states:
        state_to_region[state] = region

df_clean['Region'] = df_clean['LocationAbbr'].map(state_to_region)

print(df_clean['Region'].value_counts())
print(df_clean[df_clean['Region'].isna()]['LocationAbbr'].unique())

Region
South        32844
West         25116
Midwest      23184
Northeast    17388
Name: count, dtype: int64
['US' 'GU' 'PR' 'VI']

In [72]:
print(df_clean['StratificationCategory1'].value_counts())

df_overall = df_clean[df_clean['StratificationCategory1'] == 'Total'].copy()
print(f"Overall data (Total): {len(df_overall):,} rows")

df_by_sex = df_clean[df_clean['StratificationCategory1'] == 'Sex'].copy()
print(f"By Sex: {len(df_by_sex):,} rows")

df_by_age = df_clean[df_clean['StratificationCategory1'] == 'Age (years)'].copy()
print(f"By Age: {len(df_by_age):,} rows")

df_by_race = df_clean[df_clean['StratificationCategory1'] == 'Race/Ethnicity'].copy()
print(f"By Race/Ethnicity: {len(df_by_race):,} rows")

df_by_income = df_clean[df_clean['StratificationCategory1'] == 'Income'].copy()
print(f"By Income: {len(df_by_income):,} rows")

df_by_education = df_clean[df_clean['StratificationCategory1'] == 'Education'].copy()
print(f"By Education: {len(df_by_education):,} rows")

StratificationCategory1
Race/Ethnicity    30360
Income            26565
Age (years)       22770
Education         15180
Sex                7590
Total              3795
Name: count, dtype: int64
Overall data (Total): 3,795 rows
By Sex: 7,590 rows
By Age: 22,770 rows
By Race/Ethnicity: 30,360 rows
By Income: 26,565 rows
By Education: 15,180 rows

In [ ]:
df_states_overall = df_overall[df_overall['US_State'] == True].copy()
df_clean.to_csv('cleaned/cleaned_nutrition_obesity_data.csv', index=False)
print("Saved: cleaned/cleaned_nutrition_obesity_data.csv")

df_states_overall.to_csv('cleaned/cleaned_states_overall.csv', index=False)
print("Saved: cleaned/cleaned_states_overall.csv")

df_by_sex.to_csv('cleaned/cleaned_by_sex.csv', index=False)
print("Saved: cleaned/cleaned_by_sex.csv")

df_by_age.to_csv('cleaned/cleaned_by_age.csv', index=False)
print("Saved: cleaned/cleaned_by_age.csv")

df_by_race.to_csv('cleaned/cleaned_by_race.csv', index=False)
print("Saved: cleaned/cleaned_by_race.csv")

df_by_income.to_csv('cleaned/cleaned_by_income.csv', index=False)
print("Saved: cleaned/cleaned_by_income.csv")

df_by_education.to_csv('cleaned/cleaned_by_education.csv', index=False)
print("Saved: cleaned/cleaned_by_education.csv")

Saved: cleaned/cleaned_nutrition_obesity_data.csv
Saved: cleaned/cleaned_states_overall.csv
Saved: cleaned/cleaned_by_sex.csv
Saved: cleaned/cleaned_by_age.csv
Saved: cleaned/cleaned_by_race.csv
Saved: cleaned/cleaned_by_income.csv
Saved: cleaned/cleaned_by_education.csv

In [76]:
df_states = pd.read_csv('cleaned/cleaned_states_overall.csv')
df_test = df_states[df_states['Class'] == 'Physical Activity']
print(df_test['YearStart'].value_counts().sort_index())

YearStart
2011    255
2012     51
2013    255
2014     51
2015    255
2016     51
2017    255
2018     51
2019    255
2020     51
2021     51
2022     51
2023    255
Name: count, dtype: int64